/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;600;700&display=swap');

/* base */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* layout */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* colors */
:root {
  --first-color: #4070f4;
  --second-color: #081E4E;
}

/* font and typography */
:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
}

/* margins */
:root {
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (max-width:767px) {
  .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    transition: .3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }

  ul.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}